/* navigation */
.navbar {
    display: flex;
    align-items: center;
    z-index: 10;
    box-shadow: 0rem 0.5rem 0.5rem #cacacac4;
    height: 6rem;
    flex-wrap: wrap;
    flex: 1;
}

.navbar-right-component {
    margin-left: auto;
    display: flex;
}

/* badges */
.badge-item {
    position: relative;
    margin: 0.5rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.notification-badge {
    position: absolute;
    display: flex;
    border-radius: 50%;
    border: 3px solid var(--primary-bg-color);
    justify-content: center;
    align-items: center;
    top: 0rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-btn-color);
    color: var(--primary-bg-color);
}

/* navbar buttons*/
.btn {
    border: none;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.home-btn {
    margin-left: 2rem;
    background-color: var(--primary-btn-color);
    color: var(--primary-bg-color);
    padding: 0.5rem;
    font-family: BioRhyme;
}

.w-class {
    padding: 0.5rem;
    border: 0.05rem solid var(--primary-font-color);
    background-color: #212122;
    color: var(--primary-btn-color);
    display: inline-block;
    border-radius: 0.2rem;
}

.wayfarlon {
    margin-left: 0.5rem;
}

/* icons */
.nav-icons {
    border: none;
    font-size: 2rem;
}