/* side bar */
.product-side-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 17rem;
    width: 100%;
    max-height: 45vh;
    padding:0.5rem;
    border-radius: 0.8rem;
    margin: 3rem 1rem;
    background-color: var(--primary-bg-color);
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    border: 0.01rem var(--primary-font-color) solid;
    padding: 1rem 0.5rem;
    border-radius: 0.8rem;
}

.sidebar-header {
    border-bottom: 0.1rem solid #eee;
    padding-bottom: 0.5rem;
    width: max-content;
}

.dropdown-sort{
    margin: 1rem 0rem;
}

.sort-icon{
    margin-right: 0.5rem;
}

.price-sort-label{
    margin-right: 0.5rem;
}

.sort-price, option{
    cursor: pointer;
}

.filter{
    margin: 0.5rem 0rem;
    justify-content: space-between;
}

input{
    cursor: pointer;
}

.slider-price-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.price-slider-span-1{
    margin-right: 1.5rem;
}

.price-slider-span-2{
    margin-left: 1.5rem;
}

.price-slider{
    margin: 0.5rem 0rem;
}