@import url("./product.css");
@import url("./cartStyle.css");
@import url("./navbar.css");
@import url("./wishlist.css");
@import url("./sidebar.css");

/* OVERALL USED CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif !important;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
}

button,
a {
    cursor: pointer;
}

:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #ecececc4;
    --primary-font-color: #424453;
    --primary-btn-color: #0082c3;
    --secondary-btn-color: #ffea29;
    --tertiary-btn-color: #bedeef;
}
